{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
{% include '../layout/list.html' %}
{% include '../layout/toast.html' %}
<link rel="stylesheet" href="/static/common/css/personData_e2e3c44.css">
{% endblock %}

{% block content %}

<div id="wrapper">
    <section class="person-wrap" style="height: 100%;">
        <header>
            <span id="back" class="back">返回</span>
            <img class="fr" src="/static/common/images/ccpc_logo_117125a.png" alt="">
        </header>
        <div class="content">
            <div id="info">

                <div class="content-top clearfix">
                    <img id="badge" class="fl" src="/static/common/images/touxiang_4664457.png" alt="">
                    <ul class="fl">
                        <li>{{userInfo.realName}}</li>
                        <li>{{userInfo.levelName}}</li>
                        <li>大师分排名{{userInfo.masterPointRank}}名</li>
                    </ul>
                </div>


                <div class="sorry">
                    <img src="/static/common/images/sorry_49511f4.png" alt="">
                </div>


            </div>

            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="share">分享</a>
                <a class="goEnter" href="javascript:void(0);" id="go">去参赛</a>
            </nav>

            <a class="agreement" href="javascript:void (0);">《CCPC全国二打一扑克锦标赛报名协议》</a>
            <p class="warning">当前页面的大师分排名截至2017年11月6日24：00</p>
        </div>

    </section>
    <div id="share-alert" class="my-alert">
        <div>
            <div class="my-alert-content">
                <span id="share-close" class="my-alert-close"></span>
                <p>点击分享按钮进行分享</p>
            </div>
        </div>
    </div>

    <div id="agreement-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="agreement-close" class="my-alert-close"></span>
            <h3>CCP锦标赛报名协议</h3>
            <div class="text">
                <p> 禄禄二级牌手大师分排名2200名禄禄二级牌手大
                    师分排名2200名禄禄二级牌手大师分排名2200
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名
                </p>
            </div>
        </div>
    </div>

    <div id="back-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="back-close" class="my-alert-close"></span>
            <p>确定退出？</p>
            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="yes">是</a>
                <a href="javascript:void(0);" id="no">否</a>
            </nav>
        </div>
    </div>

</div>

<script>
getBadgeImg('#badge','{{userInfo.levelCode}}');
document.addEventListener('DOMContentLoaded', function () {
    setTimeout(loaded, 200);
}, false);
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper');
}

//分享页面跳转
var hash = window.location.href.split('#')[1];
switch (hash) {
    case 'shareQRcode':
        window.location.href = '/QRcode?cpId=' + util.getQueryString('cpId');
        break;

}
//setTimeout(function () {
//    window.location.hash = 'sharePersonData';
//},500);

$('#back').tap(function () {
    $('#back-alert').show();
    $('#yes').tap(function () {
        $('#back-alert').hide();
        $.ajax({
            url: '/api/backOut',
            type: 'GET',
            data: $('#signUp-form').serialize(),
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (json.code == 0) {
                    window.location.href = '/index?cpId=' + util.getQueryString('cpId');
                } else {
                    $('.person-wrap').toast({
                        content: json.msg,
                        duration: 1000
                    });
                    return false;
                }
            },
            error: function () {
                $('.person-wrap').toast({
                    content: '出错',
                    duration: 1000
                });
                return false;
            }
        });
    });
    $('#no').tap(function () {
        $('#back-alert').hide();
    });
    $('#back-close').tap(function () {
        $('#back-alert').hide();
    });
    return false;
});

//点击分享按钮
$('#share').tap(function () {
    $('#share-alert').show();
    window.location.hash = 'shareQRcode';
    return false;
});

$('#share-close').tap(function () {
    $('#share-alert').hide();
    return false;
});

$('.agreement').tap(function () {
    $('#agreement-alert').show();
});

//关闭协议弹窗
$('#agreement-close').tap(function () {
    $('#agreement-alert').hide();
});

$('.person-wrap').delegate('.goEnter', 'tap', function () {
    window.location.href = '/QRcode?cpId=' + util.getQueryString('cpId');
})
</script>

{% endblock %}
