{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
<link rel="stylesheet" href="/static/common/css/personData_c3b1dd4.css">
{% endblock %}

{% block content %}
    <ul id="list"></ul>

<style>
li {
    margin: 1rem 0;
    background: #00a2d4;
    line-height: 2em;
    text-align: center;
}
a {
    color: #fff;
}
</style>


<script id="listTmpl" type="text/html">
<% $.each(data, function(k, v){ %>
<li>
    <a style="display: block;" href="/index?cpId=<%=v.cpId%>"><%=v.index%>..<%=v.cpName%></a>
</li>
<% }); %>
<li>
    <a href="/demo?cpId=<%=data[0].cpId%>">demo</a>
</li>
</script>

<script>
$('#list').html(baidu.template('listTmpl', {data: cpList}));
</script>


{% endblock %}
