{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
{% include '../layout/list.html' %}
{% include '../layout/toast.html' %}
<link rel="stylesheet" href="/static/common/css/personData.css">
{% endblock %}

{% block content %}

<div id="wrapper">
    <section class="person-wrap">
        <header>
            <span id="back" class="back">返回</span>
            <img class="fr" src="/static/common/images/ccpc_logo.png" alt="">
        </header>
        <div class="content">
            <div id="zhangf">

                <div class="content-top clearfix">
                    <img id="badge" class="fl" src="/static/common/images/touxiang.png" alt="">
                    <ul class="fl">
                        <li>{{userInfo.realName}}</li>
                        <li>{{userInfo.levelName}}</li>
                        <li>大师分排名：{{userInfo.masterPointRank}}名</li>
                    </ul>
                </div>

                <div class="encourage">
                    {% if userInfo.masterPointRank <= 2016 %}
                    <img src="/static/common/images/encourage.png" alt="">
                    {% else %}
                    <img src="/static/common/images/encourage1.png" alt="">
                    {% endif %}
                </div>

                <div class="content-bott clearfix">
                    <!--<h3>全国大师分排名</h3>-->
                    <p>
                        截止2017年11月12日24：00大师分排名到全国排名前2016名的选手有参赛资格
                    </p>

                    {% if userInfo.masterPointRank <= 2016 %}
                    <div class="fig-box clearfix">
                        <div class="fig-item">
                            <h3 class="title">全国大师分排名</h3>
                            <p class="before2016-active pnormal goEnter"></p>
                        </div>
                        <div class="fig-item">
                            <h3 class="title">全国大师分排名</h3>
                            <p class="pnormal">2016名后</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="fig-box clearfix">
                        <div class="fig-item">
                            <h3 class="title">全国大师分排名</h3>
                            <p class="pnormal">2016名前</p>
                        </div>
                        <div class="fig-item">
                            <h3 class="title">全国大师分排名</h3>
                            <p class="goEnter after2016-active"></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if userInfo.masterPointRank <= 2016 %}
                    <div class="progress-bar">
                        <span class="pot"></span>
                    </div>
                    {% else %}

                    <div class="progress-bar">
                        <span class=""></span>
                    </div>
                    {% endif %}
                </div>

            </div>

            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="share">分享</a>
                <a class="goEnter" href="javascript:void(0);" id="go">去参赛</a>
            </nav>
        </div>

    </section>


    <div id="back-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="back-close" class="my-alert-close"></span>
            <p>确定退出？</p>
            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="yes">是</a>
                <a href="javascript:void(0);" id="no">否</a>
            </nav>
        </div>
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    setTimeout(loaded, 200);
}, false);
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper', {
        preventDefault: false,
        bounce: false
    });
}

$('#back').tap(function () {
    if (myScroll) {
        myScroll.destroy();
        myScroll = null;
    }
    $('#back-alert').show();
    $('#yes').tap(function () {
        $('#back-alert').hide();
        $.ajax({
            url: '/api/backOut',
            type: 'GET',
            data: $('#signUp-form').serialize(),
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (json.code == 0) {
                    window.location.href = '/index?cpId=' + util.getQueryString('cpId');
                } else {
                    $('.person-wrap').toast({
                        content: json.msg,
                        duration: 1000
                    });
                    return false;
                }
            },
            error: function () {
                $('.person-wrap').toast({
                    content: '出错',
                    duration: 1000
                });
                return false;
            }
        });
    });
    $('#no').tap(function () {
        $('#back-alert').hide();
        loaded();
    });
    $('#back-close').tap(function () {
        $('#back-alert').hide();
        loaded();
    });
    return false;
});


//点击分享按钮
$('#share').tap(function () {
    window.location.href = '/sharePersonData?cpId=' + util.getQueryString('cpId') + '&userIdCode=' + util.getQueryString('userIdCode');
    return false;
});


$('.person-wrap').delegate('.goEnter', 'tap', function () {
    window.location.href = '/QRcodeT?cpId=' + util.getQueryString('cpId');
})

getBadgeImg('#badge','{{userInfo.levelCode}}');
</script>

{% endblock %}
