{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
{% include '../layout/list.html' %}
{% include '../layout/toast.html' %}
<link rel="stylesheet" href="/static/common/css/personData.css">
{% endblock %}

{% block content %}

<div id="wrapper">
    <section class="person-wrap">
        <header>
            <span id="back" class="back">返回</span>
            <img class="fr" src="/static/common/images/ccpc_logo.png" alt="">
        </header>
        <div class="content">
            <div class="content-top clearfix">
                <img class="fl" src="/static/common/images/touxiang.png" alt="">
                <ul class="fl">
                    <li>露露</li>
                    <li>露露</li>
                    <li>露露</li>
                </ul>
            </div>

            <div class="encourage">
                <img src="/static/common/images/encourage.png" alt="">
            </div>

            <div class="sorry">
                <img src="/static/common/images/sorry.png" alt="">
            </div>

            <div class="content-bott clearfix">
                <h3>全国大师分排名</h3>
                <p>
                    截止2017年11月6日24：00大师分排名到全国排名前2016名的选手有参赛资格
                </p>
                <div class="fig-box clearfix">
                    <div class="fig-item">
                        <h3 class="title">全国大师分排名</h3>
                        <p class="pnormal">2016名前</p>
                    </div>
                    <div class="fig-item">
                        <h3 class="title">全国大师分排名</h3>
                        <p class="after2016-active"></p>
                    </div>
                </div>

                <div class="fig-box clearfix">
                    <div class="fig-item">
                        <h3 class="title">全国大师分排名</h3>
                        <p class="before2016-active pnormal"></p>
                    </div>
                    <div class="fig-item">
                        <h3 class="title">全国大师分排名</h3>
                        <p class="pnormal">2016名后</p>
                    </div>
                </div>

                <div class="progress-bar">
                    <span class="pot"></span>
                </div>
                <div class="progress-bar">
                    <span class=""></span>
                </div>
            </div>

            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="share">分享</a>
                <a href="javascript:void(0);" id="go">去参赛</a>
            </nav>

            <a class="agreement" href="javascript:void (0);">《CCPC全国二打一扑克锦标赛报名协议》</a>
            <p class="warning">当前页面的大师分排名截至2017年11月6日24：00</p>
        </div>

    </section>
    <div id="share-alert" class="my-alert">
        <div>
            <div class="my-alert-content">
                <span id="share-close" class="my-alert-close"></span>
                <p>点击分享按钮进行分享</p>
            </div>
        </div>
    </div>

    <div id="agreement-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="agreement-close" class="my-alert-close"></span>
            <h3>CCP锦标赛报名协议</h3>
            <div class="text">
                <p> 禄禄二级牌手大师分排名2200名禄禄二级牌手大
                    师分排名2200名禄禄二级牌手大师分排名2200
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名
                </p>
            </div>
        </div>
    </div>

    <div id="back-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="back-close" class="my-alert-close"></span>
            <p>确定退出？</p>
            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="yes">是</a>
                <a href="javascript:void(0);" id="no">否</a>
            </nav>
        </div>
    </div>

</div>

<script>

if ($('.person-wrap').height() < $('#wrapper').height()) {
    $('.person-wrap').height($('#wrapper').height());
}

$('#back').tap(function () {
    $('#back-alert').show();
    $('#yes').tap(function () {
        $('#back-alert').hide();
        window.location.href = '/index';
    });
    $('#no').tap(function () {
        $('#back-alert').hide();
    });
    $('#back-close').tap(function () {
        $('#back-alert').hide();
    });
    return false;
});

document.addEventListener('DOMContentLoaded', function () {
    setTimeout(loaded, 200);
}, false);
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper');
}

//点击分享按钮
$('#share').tap(function () {
    $('#share-alert').show();
    $('#wrapper').addClass('overflow');
    window.location.hash = '';
    return false;
});

$('#share-close').tap(function () {
    $('#share-alert').hide();
    $('#wrapper').removeClass('overflow');
    return false;
});

$('.agreement').tap(function () {
    $('#agreement-alert').show();
});

//关闭协议弹窗
$('#agreement-close').tap(function () {
    $('#agreement-alert').hide();
});

$('#go').tap(function () {
    window.location.href = '/QRcode';
})
</script>
{% endblock %}
