{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
{% include '../layout/toast.html' %}
<script src="/static/common/js/checkId.js"></script>
{% endblock %}

<!--<meta http-equiv="refresh" content="0; url=''">-->

{% block content %}

<section id="wrapper">
    <section class="wrap">
        <section class="top"></section>
        <section class="qr-code">
            <div>
                <img src="/static/common/images/qr_code.png" alt="">
            </div>
            <p class="qr-title"></p>
        </section>
        <section class="bonus">
            <div></div>
        </section>
        <section class="trophy">
            <div></div>
        </section>
        <section class="desription">
            <div>
                <nav class="des-btns">
                    <a id="noClick" href="javascript:void(0);"></a>
                    <a href="javascript:void(0);"></a>
                    <a href="javascript:void(0);"></a>
                </nav>
            </div>
        </section>
    </section>

</section>


<script>

</script>


<script>
document.addEventListener('DOMContentLoaded', function () {
    setTimeout(loaded, 200);
}, false);
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper');
}


</script>
{% endblock %}
