{% extends '../layout/base.html' %}

{% block basestylescript %}
{% include '../layout/template.html' %}
{% include '../layout/list.html' %}
{% include '../layout/toast.html' %}
{% endblock %}

{% block content %}
<script>

</script>

<section id="wrapper">
    <section class="singUpSuccessWrap">
        <div id="info" class="info">

        </div>

        <nav class="btns clearfix">
            <a href="javascript:void(0);" id="back">返回</a>
            <a href="javascript:void(0);" id="share">分享</a>
        </nav>
        <a class="agreement" href="javascript:void (0);">《CCPC全国二打一扑克锦标赛报名协议》</a>
        <footer class="foot">
            <p>
                1.最多一次修改参赛时间、地点的机会，且打联系电话010-87559363
            </p>
            <p>
                2.当前页面的大师分排名截至2017年11月12日24：00
            </p>
        </footer>
    </section>

    <!--<div id="share-alert" class="my-alert">-->
    <!--<div>-->
    <!--<div class="my-alert-content">-->
    <!--<span id="share-close" class="my-alert-close"></span>-->
    <!--<p>点击分享按钮进行分享</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div id="back-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="back-close" class="my-alert-close"></span>
            <p>确定退出？</p>
            <nav class="btns clearfix">
                <a href="javascript:void(0);" id="yes">是</a>
                <a href="javascript:void(0);" id="no">否</a>
            </nav>
        </div>
    </div>

    <div id="agreement-alert" class="my-alert">
        <div class="my-alert-content">
            <span id="agreement-close" class="my-alert-close"></span>
            <h3>CCPC锦标赛报名协议</h3>
            <div class="text">
                <p> 禄禄二级牌手大师分排名2200名禄禄二级牌手大
                    师分排名2200名禄禄二级牌手大师分排名2200
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名禄禄二级
                    牌手大师分排名2200名禄禄二级牌手大师分排名
                    2200名禄禄二级牌手大师分排名2200名
                </p>
            </div>
        </div>
    </div>
</section>

<script>
var myScroll;

function loaded() {
    myScroll = new IScroll('#wrapper', {
        preventDefault: false,
        bounce: false
    });
}

//返回退出
$('#back').tap(function () {
    if (myScroll) {
        myScroll.destroy();
        myScroll = null;
    }
    $('#back-alert').show();
    return false;
});
$('#yes').tap(function () {
    $('#back-alert').hide();
    $.ajax({
        url: '/api/backOut',
        type: 'GET',
        data: $('#signUp-form').serialize(),
        dataType: 'json',
        cache: false,
        success: function (json) {
            if (json.code == 0) {
                window.location.href = '/index?cpId=' + util.getQueryString('cpId');
            } else {
                $('.fillInfo-wrap').toast({
                    content: json.msg,
                    duration: 1000
                });
                return false;
            }
        },
        error: function () {
            $('.fillInfo-wrap').toast({
                content: '出错',
                duration: 1000
            });
            return false;
        }
    });
    return false;
});
$('#no').tap(function () {
    $('#back-alert').hide();
    loaded();
});
$('#back-close').tap(function () {
    loaded();
    $('#back-alert').hide();
});

//点击分享按钮
$('#share').tap(function () {
    window.location.href = '/QRcode?cpId=' + util.getQueryString('cpId');
    return false;
});

$('.agreement').tap(function () {
    if (myScroll) {
        myScroll.destroy();
        myScroll = null;
    }
    $('#agreement-alert').show();
});

//关闭协议弹窗
$('#agreement-close').tap(function () {
    loaded();
    $('#agreement-alert').hide();
});

$.ajax({
    url: '/api/getCurrentUserMatchApply',
    type: 'GET',
    data: {
        cpId: util.getQueryString('cpId'),
        idNumber: util.getQueryString('idNumber')
    },
    dataType: 'json',
    cache: false,
    success: function (json) {
        if (json.code == 0) {
            $('#info').html(baidu.template('infoTmpl', {data: json}));

            getBadgeImg('#badge', json.response.levelCode);
            loaded();
        } else {
            $('.fillInfo-wrap').toast({
                content: json.msg,
                duration: 1000
            });
            return false;
        }
    },
    error: function () {
        $('.fillInfo-wrap').toast({
            content: '出错',
            duration: 1000
        });
        return false;
    }
});

//$('#info').delegate('.copy', 'longTap', function (e) {
//    alert('success');
////    alert(window.clipboardData.getData("text"));
//})

</script>


<script id="infoTmpl" type="text/html">
<div class="info-top">
    <ul>
        <li class="clearfix">
            <span></span>
            <p>参赛时间：<%=data.response.dayInfoDetail%></p>
        </li>
        <li class="clearfix">
            <span></span>
            <p>参赛地点：<%=data.response.place%></p>
        </li>
        <li class="clearfix">
            <span></span>
            <p>详细地址：
                <em class="copy">
                    <% if (data.response.placeDetail) { %>
                    <%=data.response.placeDetail%>
                    <% }else{ %>
                    待定
                    <% }%>
                </em>
            </p>
        </li>
    </ul>
</div>
<div class="info-bott clearfix">
    <img id="badge" class="fl" src="/static/common/images/touxiang.png" alt="">
    <ul class="fl">
        <li><%=data.response.realName%></li>
        <li><%=data.response.levelName%></li>
        <li>全国排名<%=data.response.masterPointRank%>名</li>
    </ul>
</div>
</script>
{% endblock %}
