<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no"/>
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="format-detection" content="telephone=no, email=no"/>
<title>全国竞技二打一扑克锦标赛</title>
<link rel="stylesheet" href="/static/common/css/reset.css">
<link rel="stylesheet" href="/static/common/css/common.css">

<!--移动端-->
<script src="/static/common/js/set-rem.js"></script>
<script src="/static/common/js/zepto.min.js"></script>
<script src="/static/common/js/zepto-touch.js"></script>
<script src="/static/common/js/zepto-data.js"></script>

<!--pc端-->
<!--<script src="/static/common/js/jquery-1.9.1.min.js"></script>-->
<script src="/static/common/js/html5shiv.js"></script>
<script src="/static/common/js/util.js"></script>
<!--<script src="/static/common/js/dialog.js"></script>-->
<!--<script src="/static/common/js/dialogPackage.js"></script>-->
<script src="/static/common/js/json2.js"></script>
<!--<script src="/static/common/js/jquery.placeholder.js"></script>-->
<script src="/static/common/js/moment.js"></script>
<!--STYLE_PLACEHOLDER-->
<!--SCRIPT_PLACEHOLDER-->
{% block basestylescript %}{% endblock %}
</head>
<body class="yahei">

{% block basecontent %}

<!--{% block header %}-->
<!--{% include 'header.html' %}-->
<!--{% endblock %}-->

{% block content %}{% endblock %}

<!--{% block footer %}-->
<!--{% include 'footer.html' %}-->
<!--{% endblock %}-->

{% endblock %}
<!--<script>$(function(){ $('input, textarea').placeholder();})</script>-->
</body>
</html>
