<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!–QQ强制竖屏–>
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true"/>
<!–uc强制竖屏–>
<meta name="screen-orientation"content="portrait">
<!--<meta http-equiv="pragma" content="no-cache">-->
<!--<meta http-equiv="cache-control" content="no-cache">-->
<meta http-equiv="expires" content="0">
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="apple-mobile-web-app-title" content="ccpc">

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta content="yes" name=" apple-mobile-web-app-capable">
<meta content="black" name=" apple-mobile-web-app-status-bar-style">

{% block baseMeta %}{% endblock %}
<title>ccpc</title>
<link rel="stylesheet" href="/static/common/css/reset_e8e2ad5.css">
<link rel="stylesheet" href="/static/common/css/common_0bf9da6.css">

<!--移动端-->
<script src="/static/common/js/zepto_a55b2bd.js"></script>
<script src="/static/common/js/fx_ace0603.js"></script>
<script src="/static/common/js/set-rem_3c1360a.js"></script>
<script src="/static/common/js/iscroll_3278477.js"></script>
<script src="/static/common/js/fastclick_a0fc6c2.js"></script>
<!--<script src="/static/common/js/zepto-touch.js"></script>-->

<!--pc端-->
<!--<script src="/static/common/js/jquery-1.9.1.min.js"></script>-->
<script src="/static/common/js/html5shiv_ca4fc4b.js"></script>
<script src="/static/common/js/util_6387b8a.js"></script>
<!--<script src="/static/common/js/dialog.js"></script>-->
<!--<script src="/static/common/js/dialogPackage.js"></script>-->
<script src="/static/common/js/json2_d1d9530.js"></script>
<!--<script src="/static/common/js/jquery.placeholder.js"></script>-->
<script src="/static/common/js/moment_ca56ba1.js"></script>

<!--棋手徽章配置文件-->
<script src="/static/common/js/badges_0dc338e.js"></script>
<!--STYLE_PLACEHOLDER-->
<!--SCRIPT_PLACEHOLDER-->
{% block basestylescript %}{% endblock %}
</head>
<body class="yahei">

{% block basecontent %}


{% block content %}{% endblock %}


{% endblock %}
<!--<script>$(function(){ $('input, textarea').placeholder();})</script>-->


<script>
//$(function() {
//   FastClick.attach(document.body);
//});
document.addEventListener('touchmove', function (e) {
    e.preventDefault();
}, false);

</script>

</body>
</html>
