<footer class="foot">
    <p>&#169;2014-2017www.imasa.cn all rights reserved.国家体育总局棋牌运动管理中心版权所有</p>
    <p>ICP经营许可证：京ICP备16019604</p>
</footer>

<script>
function footFixed() {
    $('body').css('height', 'auto');
    if($('body').height() < $(window).height() - $('.foot').outerHeight()) {
        $('body').css('height', $(window).height()- $('.foot').outerHeight());
        $('.foot').css({
            'position': 'fixed',
            'left': '0',
            'bottom': '0'
        });
    }else {
        $('.foot').css({
            'position': 'static',
            'margin-top': '50px'
        });
    }
}
</script>