<link rel="stylesheet" href="/static/toast/css/toast_74eaa30.css">
<script src="/static/toast/js/toast_d35bc29.js"></script>

<script>
function showtoastFromDiv(text) {
    $('.content').toast({
        content: text,
        duration: 1000
    });
}

function showtoastFromDivbottom(text) {
    $('body').toast({
        content: text,
        duration: 3000,
        isCenter: false,
        animateIn: 'bounceIn-hastrans',
        animateOut: 'bounceOut-hastrans',
    });
}

function showtoastFromDocument(text) {
    showMessage(text);
}

function showtoastFromDocumentCenter(text) {
    showMessage(text, 3000, true, 'bounceInUp-hastrans', 'bounceOutDown-hastrans');
}

function toastbackground() {
    $('body').toast({
        position: 'fixed',
        content: '这是默认的提示信息',
        duration: 3000,
        isCenter: false,
        background: 'rgba(230,0,0,0.5)',
        animateIn: 'bounceIn-hastrans',
        animateOut: 'bounceOut-hastrans'
    });
}

function bounceInLeft() {
    $('body').toast({
        position: 'fixed',
        content: '这是默认的提示信息',
        duration: 3000,
        isCenter: false,
        background: 'rgba(230,0,0,0.5)',
        animateIn: 'bounceInLeft-hastrans',
        animateOut: 'bounceOutRight-hastrans'
    })
}

function bounceInUp() {
    $('body').toast({
        position: 'fixed',
        content: '这是默认的提示信息',
        duration: 3000,
        isCenter: false,
        background: '#4EA44E',
        animateIn: 'bounceInUp-hastrans',
        animateOut: 'bounceOutDown-hastrans'
    });
}
</script>