<link rel="stylesheet" href="/static/zepto-mvalidate/css/validate_aa41979.css">
<link rel="stylesheet" href="/static/zepto-mvalidate/css/button_0024669.css">
<link rel="stylesheet" href="/static/zepto-mvalidate/css/common_038fa45.css">
<link rel="stylesheet" href="/static/zepto-mvalidate/css/demo_e707ab2.css">
<link rel="stylesheet" href="/static/zepto-mvalidate/css/form_ad5c3fa.css">
<link rel="stylesheet" href="/static/zepto-mvalidate/iconfont/iconfont_b49d8a8.css">
<script src="/static/zepto-mvalidate/zepto-mvalidate_cbddb83.js"></script>