.upload { padding: 10px; }
.upload .upload-add { float: left; padding-left: 40px; width: 80px; height: 38px; color: #ffffff; line-height: 38px; background: #F43D3E url(../images/add.png) no-repeat 12px 8px; }
.upload .upload-msg { float: left; height: 38px; color: #8C8C8C; line-height: 38px; margin-left: 20px; }
.upload .upload-block { position: relative; margin-top: 22px; width: 444px; height: 84px; background-color: #F2F2F2;margin-left: 20px; }
.upload .upload-block .upload-dele { top: 3px; right: 5px; color: #0549A5; text-decoration: underline; position: absolute; display: block; width: 40px; height: 20px; line-height: 20px; text-align: center; }
.upload .upload-block .upload-icon { display: block; width: 28px; height: 32px; position: absolute; left: 18px; top: 26px; background: url(../images/icon.png) no-repeat; }
.upload .upload-block .upload-info { padding-left: 60px; }
.upload .upload-block .upload-info .upload-name { line-height: 16px; margin-top: 18px; }
.upload .upload-block .upload-info .upload-status { line-height: 16px; margin-top: 12px; }
.upload .upload-block .upload-info .upload-status .upload-percent-txt { float: left; margin-left: 16px; }
.upload .upload-block .upload-info .upload-status .upload-percent-box {margin-top: 1px; float: left; width: 174px; height: 10px; border: 1px solid #FC6B18; display: inline; }
.upload .upload-block .upload-info .upload-status .upload-percent-box .upload-percent { width: 0%; height: 10px; background-color: #FC6B18; }
