body {
  font-family: 微软雅黑;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #aaa;
  overflow: auto;
}
.overflow {
  overflow: hidden;
}
.wrap {
  font-size: 1rem;
  width: 100%;
  height: 133.95rem;
  background: url("../images/wrap_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .top {
  height: 27.3rem;
  background: url("../images/top_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .starts {
  height: 9.1rem;
  background: url("../images/starts.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .bonus {
  margin-top: 3.5rem;
}
.wrap .noResult {
  text-align: center;
}
.wrap .noResult div {
  display: inline-block;
}
.wrap .noResult img {
  width: 28.95rem;
  height: 16.4rem;
}
.wrap .data {
  width: 28.95rem;
  margin: 2.9rem auto 0;
  padding-bottom: 1rem;
  background: url("../images/share_data_bg.png?__sprite");
}
.wrap .data .data-top {
  text-align: center;
}
.wrap .data .data-top img {
  width: 27.3rem;
  height: 9.85rem;
}
.wrap .data .data-botto {
  width: 27.3rem;
  margin: 3.5rem auto 0;
  background: url("../images/share_data_inner_bg.png?__sprite");
  box-sizing: border-box;
  padding: 2rem 0 2.15rem 3rem;
}
.wrap .data .data-botto img {
  width: 5.55rem;
  height: 5.65rem;
  border-radius: 50%;
}
.wrap .data .data-botto ul {
  margin-left: 3.4rem;
  line-height: 1.9rem;
  color: #fff;
  font-size: 1.2rem;
}
.wrap .data .promot {
  margin-top: 2.9rem;
  height: 0.9rem;
  background: url("../images/share_promot.png") no-repeat center center;
  background-size: 20.45rem 0.9rem;
}
.wrap .bonus div {
  margin: 0 auto;
  width: 22.6rem;
  height: 4.25rem;
  background: url("../images/bonus_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .trophy {
  margin-top: 7.75rem;
}
.wrap .trophy div {
  margin: 0 auto;
  width: 28.9rem;
  height: 29.8rem;
  background: url("../images/trophy_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .desription {
  margin-top: 4.5rem;
}
.wrap .qr-code {
  text-align: center;
}
.wrap .qr-code div {
  display: inline-block;
  padding: 0.5rem;
  background: #fff;
  margin: 2.85rem auto 0;
}
.wrap .qr-code img {
  width: 11.2rem;
  height: 11.2rem;
}
.wrap .qr-code .qr-title {
  margin-top: 1rem;
  height: 1.2rem;
  background: url("../images/qr_title.png?__sprite") no-repeat center center;
  background-size: 13.75rem 1.2rem;
}
.wrap .desription div {
  margin: 0 auto;
  width: 28.95rem;
  height: 32.25rem;
  background: url("../images/desription_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .desription div .des-btns {
  display: block;
  width: 19.65rem;
  margin-left: 8.25rem;
  padding-top: 6rem;
}
.wrap .desription div .des-btns a {
  display: block;
  height: 7.55rem;
}
.wrap .desription div .des-btns a:nth-of-type(1) {
  background: url("../images/des_btn1_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.wrap .desription div .des-btns a:nth-of-type(2) {
  background: url("../images/des_btn2_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
  padding-top: 1.2rem;
}
.wrap .desription div .des-btns a:nth-of-type(3) {
  background: url("../images/des_btn3_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
  padding-top: 1.2rem;
}
.wrap .desription div .des-btns #noClick {
  background: url("../images/des_btn1_h_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.fixed-btns {
  height: 6.5rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
}
.fixed-btns a {
  float: left;
  width: 13.3rem;
  height: 4.1rem;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  line-height: 4.1rem;
  background: #1c57ff;
  margin: 1.35rem;
}
.singUpSuccessWrap {
  font-size: 1rem;
  width: 100%;
  height: 57.45rem;
  background: url("../images/sign_wrap_bg.png?__sprite") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.singUpSuccessWrap .info {
  padding-top: 22.3rem;
}
.singUpSuccessWrap .info-top {
  margin-left: 5.55rem;
}
.singUpSuccessWrap .info-top li {
  font-size: 1rem;
  line-height: 2.1rem;
}
.singUpSuccessWrap .info-top li:nth-of-type(1) span {
  background: url("../images/date_icon.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.singUpSuccessWrap .info-top li:nth-of-type(2) span,
.singUpSuccessWrap .info-top li:nth-of-type(3) span {
  background: url("../images/address_icon.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.singUpSuccessWrap .info-top span {
  float: left;
  width: 0.75rem;
  height: 0.85rem;
  margin-top: 0.65rem;
  margin-right: 0.6rem;
}
.singUpSuccessWrap .info-top p {
  color: #6c6c6c;
  float: left;
}
.singUpSuccessWrap .info-bott {
  width: 25.4rem;
  height: 8.1rem;
  margin: 2.85rem auto 0;
  background: url("../images/info_box_bg.png?__sprite");
  background-size: 100% 100%;
  border: 1px solid #ccd3e5;
  border-radius: 0.4rem;
}
.singUpSuccessWrap .info-bott img {
  width: 5.35rem;
  height: 5.35rem;
  border-radius: 50%;
  margin: 1.35rem 1.75rem;
}
.singUpSuccessWrap .info-bott ul {
  width: 11.25rem;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #000000;
  padding-left: 1.75rem;
  margin-top: 1.4rem;
}
.singUpSuccessWrap .btns {
  display: flex;
  justify-content: space-around;
  margin-top: 7.05rem;
}
.singUpSuccessWrap .btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3.2rem;
  background: url("../images/btn_bg.png?__sprite");
  background-size: 100% 100%;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 0.3rem;
}
.singUpSuccessWrap .foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1.1rem;
}
.singUpSuccessWrap .foot p {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #5c5c5c;
}
.my-alert {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.my-alert .my-alert-content {
  position: fixed;
  top: 8rem;
  left: 2.35rem;
  width: 27.2rem;
  box-sizing: border-box;
  background: #fff;
  padding: 2.3rem 3rem 1.4rem;
  border-radius: 0.4rem;
}
.my-alert .my-alert-content .my-alert-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.75rem 1rem;
  width: 1.1rem;
  height: 1.1rem;
  background: url("../images/alert_close.png?__sprite") no-repeat center center;
  background-size: 1.1rem 1.1rem;
}
.my-alert .title {
  height: 4.55rem;
  background: url("../images/ccpc_title.png?__sprite") no-repeat 5.3rem 1.45rem;
  background-size: 14.6rem 1.2rem;
}
.my-alert .title .logo {
  width: 3.45rem;
  height: 2.6rem;
  display: block;
  background: url("../images/ccpc_logo.png?__sprite") no-repeat;
  background-size: 100% 100%;
}
.my-alert .form .form-group {
  position: relative;
}
.my-alert .form .form-group input {
  width: 100%;
  height: 3.2rem;
  line-height: 3.2rem;
  font-size: 1.1rem;
  color: #3d60b8;
  border: 1px solid #3d60b8;
  border-radius: 0.3rem;
  text-indent: 1.5rem;
  box-sizing: border-box;
}
.my-alert .form .form-group input:focus {
  border-color: red;
}
.my-alert .form .form-group #getCode {
  background: url("../images/btn_bg.png?__sprite");
  line-height: 3.2rem;
  text-align: center;
  color: #fff;
}
.my-alert .form .form-group .getMess {
  position: absolute;
  right: 0;
  top: 0;
  width: 7.95rem;
  height: 3.2rem;
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.my-alert .form .form-group .error-message {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  color: #3d60b8;
}
.my-alert .form .form-group .danger-message {
  height: auto;
}
.my-alert .form .form-group .submit {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  height: 3.2rem;
  line-height: 3.2rem;
  background: url("../images/btn_bg.png?__sprite");
  border-radius: 0.3rem;
}
.my-alert .form .form-group .warning-message {
  padding-top: 0.5rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  color: #c72a00;
}
