@rem: 20rem;
.person-wrap {
  background: url("../images/person_wrap_bg.png?__sprite") no-repeat;
  background-size: 100% auto;
  padding: 0 29/@rem 20/@rem;
  header {
    padding-top: 34/@rem;
    .back {
      line-height: 74/@rem;
      background: url("../images/back_bg.png?__sprite") no-repeat 0 15/@rem;
      display: inline-block;
      background-size: 24/@rem 40/@rem;
      padding-left: 34/@rem;
      font-size: 24/@rem;
      color: #fff;
    }
    img {
      width: 70/@rem;
      margin: 6/@rem 16/@rem 0 0;
    }
  }
  .content {
    padding: 30/@rem 40/@rem 0;
    background: #fff;
    border-radius: 6/@rem;
    .content-top {
      width: 508/@rem;
      height: 162/@rem;
      background: url("../images/info_box_bg.png?__sprite");
      background-size: 100% 100%;
      border: 1px solid #ccd3e5;
      border-radius: 8/@rem;
      img {
        width: 107/@rem;
        height: 107/@rem;
        border-radius: 50%;
        margin: 27/@rem 35/@rem;
      }
      ul {
        width: 225/@rem;
        font-size: 22/@rem;
        line-height: 35/@rem;
        color: #000000;
        padding-left: 35/@rem;
        margin-top: 28/@rem;
      }
    }
    .encourage {
      padding: 40/@rem 0 60/@rem;
      text-align: center;
      img {
        width: 483/@rem;
      }
    }
    .content-bott {
      width: 508/@rem;
      background: url("../images/info_box_bg.png?__sprite");
      background-size: 100% 100%;
      border: 1px solid #ccd3e5;
      border-radius: 8/@rem;
      h3 {
        padding-top: 11/@rem;
        line-height: 60/@rem;
        font-size: 24/@rem;
        color: #000;
        text-align: center;
      }
      p{
        line-height: 30/@rem;
        text-align: center;
        font-size: 18/@rem;
        padding: 0 60/@rem;
      }
    }
    .btns {
      margin-top: 78/@rem;
      padding-bottom: 40/@rem;
      a {
        float: left;
        width: 160/@rem;
        height: 64/@rem;
        line-height: 64/@rem;
        text-align: center;
        background: url("../images/btn_bg.png?__sprite");
        background-size: 100% 100%;
        font-size: 26/@rem;
        color: #fff;
        border-radius: 6/@rem;
      }
      a:nth-of-type(1){
        margin: 0 100/@rem 0 40/@rem;
      }
    }

  }
}